* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Sizing of the Leaflet Map. Currently Show's the Whole Map */
.leaflet-container {
  height: 100vh;
}

.leaflet-div-icon  {
  background: none !important;
  border: none !important;
}

/* Can Chage *some* of the Map Colors with these Commands: */

/* 
.leaflet-tile {
  filter: hue-rotate(1000deg) !important;
} */

/* .leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
} */